{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{{ asset('images/register.jpg') }}" alt="iniciar sesion" class="img-fluid rounded mx-auto d-block py-5" />
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                <svg class="bi text-white" width="64" height="64" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#person-plus"/>
                </svg>
            </div>
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger my-3" role="alert">{{ flashError }}</div>
                {% endfor %}               

                {{ form_start(registrationForm, {'attr': {'class': 'site-form'}}) }}
                    {{ form_row(registrationForm.name, {
                        label: 'Nombre'
                    }) }}
                    {{ form_row(registrationForm.lastname, {
                        label: 'Apellido'
                    }) }}
                    {{ form_row(registrationForm.phone, {
                        label: 'Telefono'
                    }) }}
                    {{ form_row(registrationForm.email, {
                        label: 'Correo'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Contraseña'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms, {
                        label: 'Esta de acuerdo con las politicas de privacidad'
                    }) }}

                    <button type="submit" class="btn bg-metallic-seaweed text-white">Registrar</button>
                {{ form_end(registrationForm) }}
            </div>
    </div>
</div>
{% endblock %}
