{% extends 'base.html.twig' %}

{% block title %}Schedule index{% endblock %}

{% block body %}    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Agenda</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="bg-taupe-gray">
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Url</th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for schedule in schedules %}
                            <tr class="bg-opal">
                                <th scope="col">{{ schedule.id }}</td>
                                <td>{{ schedule.start ? schedule.start|date('Y-m-d') : '' }}</td>
                                <td>{{ schedule.slot }}</td>
                                <td>{{ schedule.link }}</td>
                                <td>
                                    {# <a href="{{ path('schedule_show', {'id': schedule.id}) }}" class="btn btn-link">Ver</a> #}
                                    <a href="{{ path('schedule_edit', {'id': schedule.id}) }}" class="btn btn-link">Editar</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ path('schedule_new') }}" class="btn bg-metallic-seaweed text-white mb-2">Nuevo</a>
            </div>
        </div>
    </div>
{% endblock %}
