{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block body %}
    <div class="d-flex flex-column flex-sm-row justify-content-around align-items-center">
    {% for schedule in schedules %}
        <div class="card text-white text-center bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h1 class="display-1">{{ schedule.start ? schedule.start|date('j') : '' }}</h1>
                <h3>{{ schedule.start ? schedule.start|date('l') : '' }}</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ schedule.timestart|date('g:i A') }} - {{ schedule.timeend|date('g:i A') }}</h5>
                <p class="card-text">Especialista: 	
                    {{ schedule.employee.name }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ schedule.link }}" class="text-decoration-none text-white" target="_blank" rel="noopener noreferrer">Ingresar</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
