{% extends 'base.html.twig' %}

{% block title %}Administracion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                            {{ form_label(form.lastname, 'Apellido', { 'label_attr': {'class': 'sr-only'} }) }}
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <svg class="bi" width="16" height="16" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#search"/>
                                        </svg>
                                    </div>
                                </div>
                                 {{ form_widget(form.lastname, { 'attr': {'class': 'foo','placeholder':'Apellido'} }) }}
                            </div>                    
                            <button type="submit" class="btn bg-metallic-seaweed text-white mb-2">Buscar</button>                    
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm">
                        <thead>
                            <tr class="bg-taupe-gray">
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Correo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr class="bg-opal">
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <a href="{{ path('schedule', {id: user.id}) }}" class="btn btn-link">
                                            Agendar
                                        </a>
                                        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Desea eliminar el registro?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                            <button class="btn btn-link">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>                    
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ path('app_register') }}" class="btn bg-metallic-seaweed text-white mb-2">Nuevo</a>
            </div>
        </div>
    </div>
{% endblock %}
