{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="en">
    <head>         
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Todo Tiene Solucion{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="site.css"></link>        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="d-flex flex-column justify-content-center align-items-center py-3">
                <a href="{{ path('index') }}" class="text-white text-center site-header">
                    <h5 class="text-warning">Consultorios Psicol&oacute;gicos</h5>
                    <h1 class="text-uppercase">"Todo Tiene Soluci&oacute;n"</h1>
                </a>
            </div>
        </header>        
        <nav class="navbar navbar-dark bg-laurel-green d-lg-none mb-3">
            <a class="navbar-brand" href="#">&nbsp;&nbsp;</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarsExample01" style="">
                <ul class="navbar-nav mr-auto">
                    <li {% if route_name matches '{^index}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                        <a class="nav-link" href="{{ path('index') }}">Inicio</a>
                    </li>
                    <li {% if route_name matches '{^informes}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                        <a class="nav-link" href="{{ path('informes') }}">Informes</a>
                    </li>
                    <li {% if route_name matches '{^secretaria}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                        <a class="nav-link" href="{{ path('secretaria') }}">Secretar&iacute;a</a>
                    </li>
                    <li {% if route_name matches '{^servicios}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                        <a class="nav-link" href="{{ path('servicios') }}">Campos de Atenci&oacute;n</a>
                    </li> 
                    <li {% if route_name matches '{^recursos}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                        <a class="nav-link" href="{{ path('recursos') }}">Links Recomendados</a>
                    </li> 
                    <li {% if route_name matches '{^app_login}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                        <a class="nav-link" href="{{ path('app_login') }}">Iniciar Sesi&oacute;n</a>
                    </li>                   
                </ul>                
            </div>
            </nav>
        <main role="main" class="container">            
            <div class="d-flex flex-column flex-md-row flex-nowrap">
                <nav class="d-none d-lg-block">
                    <ul class="flex-column nav site-menu">
                        <li {% if route_name matches '{^informes}' %} class="nav-item active bg-dark-olive-green" {% else %} class="nav-item" {% endif %} >
                            <a class="nav-link text-white" href="{{ path('informes') }}">Informes</a>
                        </li>
                        <li {% if route_name matches '{^secretaria}' %} class="nav-item active bg-dark-olive-green" {% else %} class="nav-item" {% endif %} >
                            <a class="nav-link text-white" href="{{ path('secretaria') }}">Secretar&iacute;a</a>
                        </li>
                        <li {% if route_name matches '{^servicios}' %} class="nav-item active bg-dark-olive-green" {% else %} class="nav-item" {% endif %} >
                            <a class="nav-link text-white" href="{{ path('servicios') }}">Campos de Atenci&oacute;n</a>
                        </li>
                        <li {% if route_name matches '{^recursos}' %} class="nav-item active bg-dark-olive-green" {% else %} class="nav-item" {% endif %} >
                            <a class="nav-link text-white" href="{{ path('recursos') }}">Links Recomendados</a>
                        </li>
                    </ul>
                </nav>
                <div class="bg">
                    {% block body %}{% endblock %}
                </div>
                <nav class="d-none d-lg-block">
                    <ul class="flex-column nav site-menu">
                        <li {% if route_name matches '{^app_login}' %} class="nav-item active bg-dark-olive-green" {% else %} class="nav-item" {% endif %} >
                            <a class="nav-link text-white" href="{{ path('app_login') }}">Iniciar Sesi&oacute;n</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link text-white" href="{{ path('secretaria') }}">Inscribirse</a>
                        </li>
                    </ul>
                </nav>
            </div>
             
        </main>
        <footer class="text-white text-center pt-3">
            <div class="container">                
                <p>Todos los derechos reservados © 2011 www.todotienesolucion.org</p>
                <p>Pólitica de Privacidad y Términos de Uso</p>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="site.js" ></script>
    </body>
</html>
